In [ ]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("debs2x/gamelytics-mobile-analytics-challenge")

# print("Path to dataset files:", path)

c:\Users\yasser.sakhraoui\Desktop\games_growth\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/debs2x/gamelytics-mobile-analytics-challenge?dataset_version_number=2...

100%|██████████| 63.1M/63.1M [00:22<00:00, 2.96MB/s]

Extracting files...

Path to dataset files: C:\Users\yasser.sakhraoui\.cache\kagglehub\datasets\debs2x\gamelytics-mobile-analytics-challenge\versions\2

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv("../data/raw/reg_data.csv", sep=";")
df

            reg_ts      uid
0        911382223        1
1        932683089        2
2        947802447        3
3        959523541        4
4        969103313        5
...            ...      ...
999995  1600874034  1110618
999996  1600874086  1110619
999997  1600874139  1110620
999998  1600874191  1110621
999999  1600874244  1110622

[1000000 rows x 2 columns]